*
.contact-pling-memes-header{
    text-align: center;
}
.total-form{
    text-align: center;
}
.hedin{
    font-size: 50px;

}
.hed{
    font-size: 20px;
}
.total-form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.from{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
.form-submit{
    background: #ff5722;
    border-color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    width: 600px;
}
.form-submit:hover{
    background-color: coral;
    color:#fff;
    cursor: pointer;
}